---
import { getCollection } from "astro:content";

const { pageTitle } = Astro.props;
const allTopics = await getCollection("topics");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div>
      <h2>Sidebar</h2>
      <ul>
        {
          allTopics.map((topic) => (
            <li>
              <a href={`/topics/${topic.id}`}>{topic.id}</a>
            </li>
          ))
        }
      </ul>
    </div>
    <slot />
  </body>
</html>
